{% extends "base.html" %}
{% block title %}{{ block.super }} :: map{% endblock %}

{% block js %}
    {{ block.super }}
    {% load static %}
    <link href="{% get_static_prefix%}css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
	<script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="{% get_static_prefix %}openlayers/OpenLayers-min.js"></script>
    <script src="{% get_static_prefix %}openlayers/InlineXhtml/lib/OpenLayers/Tile/InlineXhtml.js"></script>
    <script src="{% get_static_prefix %}openlayers/InlineXhtml/lib/OpenLayers/Layer/ScalableInlineXhtml.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	get_map(100);
    $('#opacity-slider').slider({ 
         max:100,
         min:0,
         value:100,
         animate: true,
         change: opacity_slider_change,
    });
});

function opacity_slider_change(event, ui) {
    var opacity =  ui.value / 100.0;
    $('.edge').children('path').attr('opacity', opacity);
}

var SVG_ZOOM_LEVELS = 4;
var VIEW_ZOOM_LEVELS = 5;

function get_map(delay) {
    $.ajax({
        dataType: "json",
        type: "GET",
        url: "{% url 'maps:get_task_metadata' task.id %}",
        async: true,
        cache: false,
        timeout: 300000,
        success: function(task) {
        	if (task.status == 'completed') {
        		if (task.semantic_zoom == 'false')
        		{
	            	display_map("{% url 'maps:get_map' task.id %}", task.width, task.height);
	            }
	            else
	            {
	            	var urls = new Array();
	            	for (var i = 0; i < SVG_ZOOM_LEVELS; i++)
	            		urls.push("{% url 'maps:get_map_zoomed' task.id %}?zoom=" + i);

	            	display_map_with_zoom(urls, task.width, task.height);
	            }
                $('#status').hide();
            }
            else {
            	$('#status_text').html('Status: ' + task.status);
            	if (task.status.indexOf("error") != 0)
	                setTimeout(get_map, delay, Math.min(delay*2, 5000));
	            else
		            $('#status_indicator').hide();
            }
        },
        // handle error
        error: function(XMLHttpRequest, textStatus, errorThrown) {
        	//alert(textStatus + " " + errorThrown);
            // try again in 10 seconds if there was a request error
            setTimeout(get_map, delay, Math.min(delay*2, 5000));
        },
    });
}

function display_map(map_url, width, height) {
	var scale0 = Math.max(height/(window.innerHeight - 80), width/(window.innerWidth));
	var S = 0.7;
	var res = [scale0];
	for (var i = 1; i < VIEW_ZOOM_LEVELS; i++)
		res.push(res[i-1] * S);

    var bounds = new OpenLayers.Bounds(0, -1 * height, width, 0);
    map_options = {
        controls:[
            new OpenLayers.Control.Navigation(),
            new OpenLayers.Control.PanZoomBar(),
                ],
        //maxExtent: bounds,
        //minExtent: new OpenLayers.Bounds(0, -1 * height/2, width/2, 0),
        //numZoomLevels: 6,
        fractionalZoom: true,
        resolutions: res,
    }
    map = new OpenLayers.Map("map", map_options);

    var gmap = new OpenLayers.Layer.ScalableInlineXhtml(
        "GMap",
        map_url,
        bounds,
        null,
        {isBaseLayer: true, opacity: '1.0'});

    var svg = $('svg');
    gmap.adjustBounds(bounds);
    map.addLayers([gmap]);
    map.zoomToExtent(bounds);
} 

function display_map_with_zoom(map_urls, width, height) {
	var scale0 = Math.max(height/(window.innerHeight - 80), width/(window.innerWidth));
	var S = 0.7;
	var res = [scale0];
	for (var i = 1; i < VIEW_ZOOM_LEVELS; i++)
		res.push(res[i-1] * S);

    var bounds = new OpenLayers.Bounds(0, -1 * height, width, 0);
    map_options = {
        controls:[
            new OpenLayers.Control.Navigation(),
            new OpenLayers.Control.PanZoomBar(),
                ],
        //maxExtent: bounds,
        //numZoomLevels: 5,
        fractionalZoom: true,
        resolutions: res,
    }
    map = new OpenLayers.Map ("map", map_options);

    var gmaps = new Array();
    for (var i = 0; i < SVG_ZOOM_LEVELS; i++)
    {
	    var gmap = new OpenLayers.Layer.ScalableInlineXhtml(
	        "GMap",
    	    map_urls[i],
        	bounds,
	        null,
    	    {isBaseLayer: true, opacity: '1.0'});
	    gmap.adjustBounds(bounds);

	    gmaps.push(gmap);
    }

    var svg = $('svg');
    map.addLayers(gmaps);
	for (var i = 0; i < gmaps.length; i++)
		gmaps[i].setVisibility(false);
    map.zoomToExtent(bounds);

    var curZoom = getZoomSafe(0, gmaps.length - 1, map.getZoom());
    gmaps[curZoom].setVisibility(true);

	map.events.register("zoomend", map, function() {
		zoom = map.getZoom();
	    for (var i = 0; i < gmaps.length; i++)
	    	gmaps[i].setVisibility(false);

	    zoom = getZoomSafe(0, gmaps.length - 1, map.getZoom());
		gmaps[zoom].setVisibility(true);
	});

} 

function getZoomSafe(lower, upper, value)
{
    var zoom = value.toFixed();
    zoom = Math.max(lower, zoom);
    zoom = Math.min(upper, zoom);
    return zoom;
}

</script>
{% endblock %}

{% block content %}
    <div id= 'opacity' style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px">
        <h4 style="margin: 0px">Edge Opacity:</h4> <div id='opacity-slider' class='small_slider'></div>
    </div>

    <div id="status" class="status" >
		<img id="status_indicator" src="{% get_static_prefix %}img/load_indicator.gif" width="16px" height="16px">
    	<span id="status_text">Status: loading</span>
    </div>
    <div id='map' >
		<script>
			var el = document.getElementById('map');
			el.style.height = (window.innerHeight - 80) + "px";
		</script>
    </div>

<h4 style="position: absolute; top: 20px; right: 10px;">
Save as <a href="./dot" download="map.dot">dot</a> 
		<a href="./svg" download="map.svg">svg</a> 
		<a href="./png" download="map.png">png</a> 
		<a href="./pdf" download="map.pdf">pdf</a>
</h4>
{% endblock %}
