{% extends "base.html" %}
{% block title %}{{ block.super }} :: Description{% endblock %}

{% block js %}
{% load static %}
{% endblock %}

{% block content %}
	<div class="description">
		<h2 style="text-align:center">What is GMap?</h2>
		<p style="text-align:justify">GMap is an algorithm for visualizing graphs as maps. Information visualization can be invaluable in making sense out of 
		large data sets. However, traditional graph visualization methods often fail to capture the underlying structural information, 
		clustering, and neighborhoods. GMap, provides a way to overcome some of the shortcomings with the help of the geographic map 
		metaphor. While graphs, charts, and tables often require considerable effort to comprehend, a map representation is more 
		intuitive, as most people are very familiar with maps and even enjoy carefully examining maps. The effectiveness of GMap is 
		illustrated with examples from several domains, namely TV shows, Amazon books, and last.fm music.
		</p>

		<h4>Examples</h2>
		<div style="text-align:center">
			<a href="{% get_static_prefix %}img/MusicLand.png"><img src="{% get_static_prefix %}img/MusicLand_small.png"  style="max-height: 250px"/></a>
			&nbsp;&nbsp;&nbsp;
			<a href="{% get_static_prefix %}img/MusicLand.png"><img src="{% get_static_prefix %}img/MusicLand_small2.png"  style="max-height: 250px"/></a>
			<p>	This map of music shows relations between musicians/groups. Related musicians are closeby and in the same country.</p>
		</div>

		See also the list of <a href="{% url 'maps:recent' %}">recently created</a> maps.

		<h4>Algorithms and Implementation</h2>
		<p style="text-align:justify">The system relies on a model behind drawing clustered graphs. The GMap framework combines graph layout and graph clustering, together
		with appropriate coloring of the clusters and creating boundaries based on clusters and connectivity in the
		original graph. The approach can be generalized to any relational data set. In GMap the visualization is based on a modified Voronoi diagram of the 
		nodes, which in turn is determined by the embedding and clustering. The algorithms are described in a series of research papers:
			<ul>
				<li>
					<a href="http://www.cs.arizona.edu/~kobourov/recsys09.pdf">Putting Recommendations on the Map - Visualizing Clusters and Relations</a>
				</li>

				<li>
					<a href="http://www.cs.arizona.edu/~kobourov/pacvis10.pdf">GMap: Visualizing Graphs and Clusters as Maps</a>
				</li>

				<li>
					<a href="http://www.cs.arizona.edu/~kobourov/pacvis11.pdf">Visualizing Dynamic Data with Maps</a>
				</li>

				<li>
					<a href="ftp://ftp.cs.arizona.edu/reports/2014/TR14-02.pdf">Visualizing Graphs as Maps with Contiguous Regions</a>,
					a <a href="{% get_static_prefix %}media/cont-maps-video.mp4">video</a> accompanying the paper with more details
					
				</li>

			</ul>

			<br>
			Source code for the entire system is available on <a href="https://github.com/spupyrev/gmap">Github</a>.
			A dataset of real-world graphs and networks used for our experiments can be downloaded <a href="{% url 'maps:datasets' %}">here</a>.
		</p>

	</div>
{% endblock %}
